{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'calculator/style.css' %}" />
<html>
<head>
<title>My App</title>
</head>
<body>
<h2>Hello Calculator</h2>
<form action="/" method="post">
{% csrf_token %}
First Number : <input type="text" name="first_num"><br/>
Last Number : <input type="text" name="last_num" /><br/>
<div class = "dropdown">
<p class = "one"><span>operator</span></p>
<div class="dropdown-content">
<input type="submit" name= "operator" value="+" />
<input type="submit" name= "operator" value="-" />
<input type="submit" name= "operator" value="*" />
<input type="submit" name= "operator" value="/" />
</div>
</div>
</form>
<p>{{num1}} {{input_o}} {{num2}} {{answer}}</p>
</body>
</html>

