h2 {
    background-color: lightgreen;
    color: red;
}
body{
    background-color: #00FFFF;
}

p.one {
    background-color: lightblue;
    border-style: solid;
    border-color: green;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
